{% extends 'catalog/base.html' %}
{% load my_tags_catalog %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-info" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    <a class="btn btn-info" href="{% url 'catalog:create_version' %}">Добавить версию</a>
</div>
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top"
             src="{{ object.product_image | product_image }}" width="300" height="225"
             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                {% if object.in_stock %}
                <b>Название: {{ object.product_name | slice:":100" }}</b>
                {% else %}
                <span class="text-muted"><b>Название: {{ object.product_name | slice:":100" }}</b></span>
                {% endif %}
            </p>
            <div class="card-text">
                {{ object.owner|default:"без продавца" }}
            </div>
            <ul>
                {% for version in object.version_set.all %}
            {% if version.is_active %}
            <h6>Активная версия: {{ version.version_name }}</h6>
            {% else %}
<!--            <h6>Неактивная версия: {{ version.version_name }}</h6>-->
            {% endif %}
            {% endfor %}
            </ul>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form>
                    <a href="{% url 'catalog:product' object.pk %}" class="btn btn-sm btn-info">Посмотреть</a>
                    {% if object.owner == request.user or request.user.is_superuser %}
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-sm btn-info">Изменить</a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                    {% endif %}
                    </form>
                </div>
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}